body .breadcrumb-item+.breadcrumb-item::before{
    content: "-";   
}
body .breadcrumb {
    background-color: transparent;
}
.section10{
    color: #59595C;
}
.breadcrumb a{
    color: black;
    font-size: 16px;
}
body .breadcrumb .active{
    color: #FD9701;
}
.section12 .hr {
    background-color: #FD9701;
    position: relative;
}
.section12 .hr::After{
    content: "";
    background-color: #FD9701;
    display: block;
    width: 7%;
    height: 3px;
    position: absolute;
    top: -4px;
    left:230px; 
}
.section12 .cover__text{
    font-size: 65px;
    background: linear-gradient(to right, #0BA550,#006768);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0px;
    left: -3px;    
}
.section12 .cover{
    font-size: 65px;
    color: white;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #0BA550, 
                         1px -1px 0 #0BA550, 
                        -1px -1px 0 #0BA550; 
}
.section12__item h3{
    font-size: 16px;
    color: #FD9701;
    font-weight: bold;
}
.section12__item h3::after{
    content: "";
    width: 10%;
    height: 3px;
    display: block;
    background-color: #CCCCCC;  
}
.section12__item p{
    font-size: 16px;
}
.section12 .item{
    margin-bottom: 50px;
}
.section12 .item:last-child{
    margin-bottom: 0px;
}
.item__right h3{
    font-size: 19px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.item__right h3::after{
    content: "";
    background-color: #FD9701;
    display: block;
    width: 20%;
    height: 3px;
}
.input{
    background-color: #F2F2F2;
    color:#A5A7AA;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
input
{
    background-color: transparent;
    border:none;
    width: 70%;
}
textarea
{
    background-color: transparent;
    border:none;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .section12 .cover__text{
        font-size: 60px;
    }
    .section12 .cover{
        font-size: 60px;
    }
    .map iframe{
        width: 200px;
    }
    .item__right h3{
        margin-top: 20px;
        margin-bottom: 0px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .img-right{
        display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section12 .cover__text{
        font-size: 40px;
    }
    .section12 .cover{
        font-size: 40px;
    }
    .map iframe{
        width: 100%;
    }
  }
  @media screen and (max-width: 576px) {

  }
  