*{
    margin:0;
    padding: 0;
}
@font-face{
    font-family: "Bold";
    src: url('./fonts/SFNSDisplay-Bold.otf');
}
@font-face{
    font-family: "Regular";
    src: url('./fonts/SFNSDisplay-Regular.otf');
}
@font-face{
    font-family: "Medium";
    src: url('./fonts/SFNSDisplay-Medium.otf');
}
@font-face{
    font-family: "SimiBold";
    src: url('./fonts/SFNSDisplay-Semibold.otf');
}
body .breadcrumb-item+.breadcrumb-item::before{
    content: "-";   
}
body .container{
    width: 1170px !important;
    padding: 0 !important;
}
body .breadcrumb {
    background-color: transparent;
}
.section12{
    margin-bottom: 41px;
}
.section12 .breadcrumb{
    padding-top: 29px;
    padding-bottom: 16px;
    padding-left: 0px;
}
.section12 .breadcrumb li{
    font-family: "Regular";
}
.section12 .breadcrumb a{
    color: black;
    font-size: 16px;
    font-family: "Regular";
}
body .breadcrumb .active{
    color: #FD9701;
}
.section12 .hr{
    background-color: #FD9701;    
    position: relative;
    width: 99%;
}
.section12 .section12__title{
    margin-top: 42px;
    margin-bottom: 50px;
}
.section12 .hr::After{
    content: "";
    background-color: #FD9701;
    display: block;
    width: 7%;
    height: 3px;
    position: absolute;
    top: -4px;
    left:230px; 
}
.section12 .cover__text{
    font-size: 45px;
    background: linear-gradient(to right, #0BA550,#006768);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0px;
    left: -3px;    
    margin-bottom: 0px;
}
.section12 .cover{
    font-size: 45px;
    margin-bottom: 0px;
    color: white;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #0BA550, 
                         1px -1px 0 #0BA550, 
                        -1px -1px 0 #0BA550; 
}
.section12__item h3{
    font-size: 16px;
    color: #FD9701;
    font-family: "SemiBold";
}
.section12__item h3::after{
    content: "";
    width: 38px;
    height: 3px;
    display: block;
    background-color: #CCCCCC;  
}
.section12__item p{
    font-size: 16px;
    font-family: "Regular";
}
.section12 .item{
    margin-bottom: 50px;
}
.section12 .item:last-child{
    margin-bottom: 0px;
}
.section12 .item__right h3{
    font-size: 19px;
    margin-top: 43px;
    margin-bottom: 30px;
}
.section12 .item__right h3::after{
    content: "";
    background-color: #FD9701;
    display: block;
    width: 20%;
    height: 3px;
}
.section12 .input{
    background-color: #F2F2F2;
    color:#A5A7AA;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
    width: 355px;
}
.section12 input
{
    background-color: transparent;
    border:none;
    width: 70%;
}
.section12 textarea
{
    background-color: transparent;
    border:none;
    width: 100%;
    height: 163px;
}
.section12 .map iframe{
    width: 200px;
    height: 125px;
}
@media screen and (max-width: 1200px) {
    .section12 .cover__text{
        font-size: 60px;
    }
    .section12 .cover{
        font-size: 60px;
    }
    .section12 .map iframe{
        width: 200px;
    }
    .section12 .item__right h3{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .section12 .input{
        background-color: #F2F2F2;
        color:#A5A7AA;
        border-radius: 5px;
        padding:5px 10px;
        font-size: 12px;
        margin-bottom: 10px;
        width: auto;
    }
  }
  
  @media screen and (max-width: 992px) {
    .section12 .img-right{
        display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section12 .cover__text{
        font-size: 40px;
    }
    .section12 .cover{
        font-size: 40px;
    }
    .section12 .map iframe{
        width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    body .container{
        width: auto !important;
        padding: 0 !important;
    }
  }
  