*{
    margin: 0;
    padding:0;
}
/* about-us  */
.about-us{
    padding:20px 5%;
}
.about-us img{
    height: 190px;
    overflow: hidden;    
    width: 100%;
    margin-bottom: 20px;
}
.about-us .about-Right{
    margin-top: 95px;
    padding:0 10%;
    text-align: justify;
}
.about-us .circle{
    border:1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -21px;
    left: 50%;
    background-color: white;
}
.about-Right .title{
    font-weight:bold;
    font-size:30px;
    color:#ff3600;
}
.about-Right .about-Right__content{
    font-size: 20px;
}
/* end aboutus */
/* info  */
.info{
    padding:0px 5%;
}
.info .info__co1{
    font-size: 38px;
    padding: 15px;
    padding-top:40px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #099c53, #037662);
    text-align: right;
    color: white;
    font-weight: bold;
}
.info .info__col2 i{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.info .info__col2{
    padding:0px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 5px 10px 18px #888888;
    z-index: 10;
    background-color: white;
    text-align: justify;
}
.info .info__col2 .title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.info .info__col3 i{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.info .info__col3{
    background: linear-gradient(to right bottom, #099c53, #037662);
    padding:0px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px 12px;
    box-shadow: 5px 10px 18px #888888;
    z-index: 10;
    text-align: justify;
}
.info .info__col3 .title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.overflow{
    height: 200px;
    background-color: #ceeedb;
    border-radius: 10px;
    position: absolute;
    top: -150px;
    left: 15%;
    z-index:-1;
    width: 90%;
}
.hr {
    margin-top:60px;
    width: 50%;
    margin-left: 8%;
}
.circle1{
    border:1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -21px;
    left: 7%;
    background-color: white;
}
.info_right{
    margin-top: 100px;
}
.info_right img{
    height: 235px;
    overflow: hidden;    
    width: 100%;
}
.img-left img{
    height: 200px;
    overflow: hidden;    
    width: 100%;
}
.img-left p{
    font-size: 16px;
    text-align: justify;
    padding: 10px 15px;
}
.img-cuscom{
    box-shadow: 5px 10px 18px #888888;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
/* end info  */

/* service  */
.service {
    background: linear-gradient(to bottom, #18cc66, #037662);
    color:white;
}  
.service .content__service{
    padding: 0 5%;
}
.service .content__service h3{
    font-size:22px;
    text-align:center;
    color:#fbfb03;
}
.service .service__item{
    border:1px solid #e1f2eb;
    border-top:0;
    border-bottom:0;
    text-indent: 40px;
    font-size:18px;
    text-align: justify;
    padding: 10px 12px;
}
.service .content__service{
    padding-bottom: 30px;
}
/* end service  */
/* carousel_info  */

.carousel_info__content{
    margin-top:75px;
}
.carousel_info__content .title{
    color: #fc9601;
} 
.carousel_info__content .title span{
    font-weight: bold;
}
.carousel_info__content .carousel_info__item{
    padding: 10px 15px;
    box-shadow: 5px 1px 18px #888888;
    border-radius: 10px;
    border:1px solid #888888;
    border-bottom: 5px solid #037662;
}
.carousel_info__content .carousel_info__item h3{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.carousel_info__content .carousel_info__item i{
    display: block;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 18px;
    
}
.carousel_info__content .carousel_info__item p{
    text-align: justify;
    padding: 12px 20px;
    line-height: 34px;
}
.bg-green{
    background: linear-gradient(to bottom, #18cc66, #037662);
}
.bg-white{
    background-color: white;
}
.circle2 {
    border:1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -21px;
    left: 50%;
    background-color: white;
}
/* end carousel_info  */
/* cumstomer  */
.cumstomer .title{
    color: #fc9601;
    font-size: 35px;
}
.line{
    background-color: #f07e3c;
    border: 1px solid;
    border-color: #f07e3c;
    border-radius: 20px;
    border-width: 3px;
    width: 10%;
    margin: auto;
}

.btncolor{
    color: red;
    padding: 6px;
    border: 1px solid red;
    display: inline;
    border-radius:200px ;
    font-weight: bold;
}
.btncolor i{
    font-size: 18px;
}
.btncolor .icon{
    border-top-left-radius:50% ;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;;
    border-bottom-right-radius:50%; ;
    padding:0px 10px;
    margin:3px;
    border-right:1px solid transparent;
    border-left:1px solid red;
    /* border-top:1px solid transparent;
    border-bottom:1px solid red; */
}
.btncolor .cover{
    border-top-left-radius:50% ;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;;
    border-bottom-right-radius:50%; ;
    padding:5px 0px;
    border-right:1px solid red;
    border-left:2px solid #d4481e;
    border-top:1px solid #d3bdb6dc;
    border-bottom:1px solid #bebcbbd5;
}
.btncolor b{
    cursor: pointer;
}

.line1{
    background-color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 20px;
    border-width: 3px;
    width: 3%;
    margin: auto;
}
/* end cumstomer  */