@media screen and (max-width: 1200px) {
    .homepage .about-us img{
        height: 200px;
        overflow: hidden;    
        width: 100%;
        margin-bottom: 20px;
    }
    .homepage .about-us .about-Right{
        margin-top:0;
    }
    .homepage .info .info__co1{
        font-size: 22px;
    }
  
  }
  
  @media screen and (max-width: 992px) {
    .homepage nav .nav-item.search{
        margin:0 30px;
    }
    .homepage .about-Right .title{
        font-weight:bold;
        font-size:25px;
    }
    .homepage .info .info__co1{
        font-size: 35px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .homepage .about-Right .title{
        font-weight:bold;
        font-size:25px;
        text-align: center;
    }
    .homepage .overflow{
        display: none;
    }
    .homepage nav .navbar-collapse .nav-item a::after{
        content: '';
    }
  }
  @media screen and (max-width: 576px) {
    .homepage .about-us img {
        height: 100px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 10px;
    }
    .homepage .about-us .about-Right{
        margin-top:0;
    }
    .homepage .info .info__co1{
        font-size: 25px;
    }
    .homepage .img-left img{
        height: 80px;
    }
    .homepage .img-left p{
        font-size: 14px;
        padding:0;
    }
    .homepage .info_right img {
        height: 230px;
        overflow: hidden;
        width: 100%;
    }
    .homepage .footer .map{
        display: none;
    }
    .homepage .footer-contact{
        display: none;
    }
    .homepage .carousel_info__content {
        margin-top: 25px;
    }
    .homepage .footer .footer__content ul {
        padding-left: 20px;
    }
    .homepage .footer .footer__content .content {
        position: absolute;
        top: 21px;
        left: 0;
        padding: 0;
    }
  }